<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


			 <div th:fragment="etapeViewTemp" class="container  d-flex h-100">
				      <div class="col">
				        <div class="card">
				          <div class="card-header" > Etape <span th:text="${e.num}"></span></div>
				          <div class="card-body">
				            <div class="form-group">
				              <label class="control-label"> Date prévisionnelle : </label> <span th:text="${ #dates.day(e.date)} + ' ' +  ${ #dates.monthName(e.date)} + ' ' +  ${ #dates.year(e.date)}"></span>
	                          <label class="control-label"> Adresse : <span th:text="${e.pointRelaisDao.voie} + ', ' + ${e.pointRelaisDao.ville} + ' ' + ${e.pointRelaisDao.codePostal} "></span></label> 
				              <label class="control-label"> Ouverture :  <span th:text="${e.pointRelaisDao.ouverture}"></span>  Fermeture :  <span th:text="${e.pointRelaisDao.fermeture}"></span></label>
				              <label class="control-label"> Telephone : <span th:text="${e.pointRelaisDao.telephone}"></span></label>
				              <label class="control-label"> Statut : <span th:text="${e.statutEtape.statutName.toLowerCase()}"></span></label>
								<a class="btn bouton2 btn-outline-success my-2 my-sm-0" th:if="${e.statutEtape.statutName == 'EN TRANSIT'}" th:href="@{/colis/mes-colis/{id}/{idEtape}/{idStatut}(id=${colis.idColis}, idEtape=${e.idEtape}, idStatut = 1)}" > Modifier en "Livraison effectuée"</a>
								<a class="btn bouton2 btn-outline-success my-2 my-sm-0" th:if="${e.statutEtape.statutName == 'EN ATTENTE' }" th:href="@{/colis/mes-colis/{id}/{idEtape}/{idStatut}(id=${colis.idColis}, idEtape=${e.idEtape}, idStatut = 2)}"> Changer pour "En transit"</a>	
							</div>
							<a class="btn bouton2 btn-outline-success my-2 my-sm-0" onclick="return confirm('Etes-vous sur de vouloir supprimer cette étape? ')"  th:href="@{/colis/mes-colis/{id}/delete/{idEtape}(id=${colis.idColis}, idEtape=${e.idEtape})}"> Supprimer cette étape</a>	
							
				          </div>
				          
				        </div>
				        
				      </div>
		    </div> 


</html>