<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:fragment="head">
		<meta charset="UTF-8">
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css} ">
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
		<link rel="stylesheet" th:href="@{/css/form.css}">
		<script th:src="@{/js/form.js}"></script>

		<title>Template pour la barre de navigation</title>
	</head>
	<body>
	
	</body>
</html>