<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
	</head>
	<body>
		<div th:fragment="pointRelaisForm"> 
			<div class="form-group">
				<label class="control-label"> ID</label> 
				<label class="control-label" th:text="${pointRelaisBean.idPointRelais}"> ID</label> 
				<input type="hidden" th:value="${pointRelaisBean.idPointRelais}" name="idPointRelais" class="form-control">
			</div>
			<div class="form-group">
				<label class="control-label"> Telephone</label> <input type="text"
					th:value="${pointRelaisBean.telephone}" name="telephone" class="form-control">
				<span th:errors=${pointRelaisBean.telephone} class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label"> Adresse</label> <input type="text"
					th:value="${pointRelaisBean.voie}" name="voie" class="form-control">
				<span th:errors=${pointRelaisBean.voie} class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label"> Ville </label> <input type="text"
					th:value="${pointRelaisBean.ville}" name="ville" class="form-control">
				<span th:errors=${pointRelaisBean.ville} class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label"> CP </label> <input type="text"
					th:value="${pointRelaisBean.codePostal}" name="codePostal" class="form-control">
				<span th:errors=${pointRelaisBean.codePostal} class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label"> Ouverture </label> <input type="text"
					th:value="${pointRelaisBean.ouverture}" name="ouverture" class="form-control">
				<span th:errors=${pointRelaisBean.ouverture} class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label"> Fermeture </label> <input type="text"
					th:value="${pointRelaisBean.fermeture}" name="fermeture" class="form-control">
				<span th:errors=${pointRelaisBean.fermeture} class="text-danger"></span>
			</div>
								
			<button class="btn btn-success" type="submit">Save</button>
		</div>
	</body>
</html>