<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
	</head>

	<body>


		<div class="row justify-content-center" th:fragment="pointRelaisSearch" >

			<span th:if="${recherche == 'noValue'}" class="error"> Votre recherche n'a pas donné de résultat </span> 
			<div th:if="${recherche == 'value'}">  
				<div class="row"> 
					<div class="col-sm-6  mt-3" th:each="pr:${listePointRelais}"> 
						<div class="card"> 
							<div class="card-body"> 
								<h5 class="card-title">Adresse :</h5> 
								<p class="card-text align" th:text="${pr.voie} + ', ' + ${pr.ville} + ', ' + ${pr.codePostal}">Adresse</p> 
								<h6 class="card-title">Téléphone :</h6> 
								<p class="card-text align" th:text="${pr.telephone}">Téléphone</p> 
								<h6 class="card-title">Ouverture :</h6> 
								<p class="card-text align" th:text="${pr.ouverture}">Ouverture</p> 
								<h6 class="card-title">Fermeture :</h6> 
								<p class="card-text align" th:text="${pr.fermeture}">Fermeture</p> 
								<a th:href="{@{retour}(id=${pr.idPointRelais})}" class="btn btn-primary align button">Modifier</a> 
							</div> 
						</div>
					</div>
				</div>
			</div>
						
		</div>
	</body>
</html>