<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->

	</head>

	<body>
	
		<div th:fragment="header">

			<div id="wrapper">
	        <!-- Sidebar -->
	        <div id="sidebar-wrapper">
	            <ul class="sidebar-nav">
	                <li class="sidebar-brand">
	                    <a href="#">
	                        livColis-JT
	                    </a>
	                </li>
	                <li>
	                    <a th:href="@{/colis/mes-colis}">Mes colis</a>
	                </li>
	                <li>
	                    <a th:href="@{/utilisateurs/}">Gestion Utilisateurs</a>
	                </li>
	                <li>
	                    <a th:href="@{/pointrelais/}">Gestion Points-Relais</a>
	                </li>
	                <li>
	                    <a th:href="@{/transporteur/profil}">Informations personnelles</a>
	                </li>
	                <li>
	                    <a th:href="@{/deconnexion}">Déconnexion</a>
	                </li>
	            </ul>
	        </div>
	   </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
<!--         <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Exemple de titre</h1>
                        <p>Exemple de paragraphe</p>
                       <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        /#page-content-wrapper
-->
    </div> 

</body>
</html>