<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->

	</head>

	<body>
	

	<div th:fragment="userForm"> 
								<div class="form-group">
										<label class="control-label"> ID</label> 
										<label class="control-label" th:text="${userBean.idUser}"> ID</label> 
										<input type="hidden" th:value="${userBean.idUser}" name="idUser" class="form-control">
									</div>
									<div class="form-group">
										<label class="control-label"> Nom</label> <input type="text"
											th:value="${userBean.nom}" name="nom" class="form-control">
										<span th:errors=${userBean.nom} class="text-danger"></span>
									</div>
									<div class="form-group">
										<label class="control-label"> Prenom</label> <input type="text"
											th:value="${userBean.prenom}" name="prenom" class="form-control">
										<span th:errors=${userBean.prenom} class="text-danger"></span>
									</div>
									<div class="form-group">
										<label class="control-label"> Mail</label> <input type="text"
											th:value="${userBean.mail}" name="mail" class="form-control">
										<span th:errors=${userBean.mail} class="text-danger"></span>
									</div>
									<div class="form-group">
										<label class="control-label"> Telephone </label> <input type="text"
											th:value="${userBean.telephone}" name="telephone" class="form-control">
										<span th:errors=${userBean.telephone} class="text-danger"></span>
									</div>
									<div class="form-group">
										<label class="control-label"> Voie </label> <input type="text"
											th:value="${userBean.voie}" name="voie" class="form-control">
										<span th:errors=${userBean.voie} class="text-danger"></span>
									</div>
									<div class="form-group">
										<label class="control-label"> CP </label> <input type="text"
											th:value="${userBean.codePostal}" name="codePostal" class="form-control">
										<span th:errors=${userBean.codePostal} class="text-danger"></span>
									</div>
									<div class="form-group">
										<label class="control-label"> Ville </label> <input type="text"
											th:value="${userBean.ville}" name="ville" class="form-control">
										<span th:errors=${userBean.ville} class="text-danger"></span>
									</div>
									
									<button class="btn btn-success" type="submit">Save</button>
						</div>



</body>
</html>