<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">




					<div class="row justify-content-center" th:fragment="userSearch" >

						<span th:if="${recherche == 'noValue'}" class="error"> Votre recherche n'a pas donné de résultat  </span>
						<div th:if="${recherche == 'value'}"> 
							<div class="row">
							
							  <div class="col-sm-6  mt-3" th:each="u:${listeUsers}">
							    <div class="card">
							      <div class="card-body">
							        <h5 class="card-title align" th:text="${u.nom} + ' ' + ${u.prenom}">Nom Prenom</h5>
							        <h6 class="card-title">Adresse :</h6>
							        <p class="card-text align" th:text="${u.voie} + ', ' + ${u.ville} + ', ' + ${u.codePostal}">Adresse</p>
							        <h6 class="card-title">Mail :</h6>
							        <p class="card-text align" th:text="${u.mail}">mail</p>
							        <h6 class="card-title">Telephone :</h6>
							        <p class="card-text align" th:text="${u.telephone}">telephone</p>
							        <a th:href="@{${retour}(id=${u.idUser})}" class="btn btn-primary align button">Valider</a>
							      </div>
							    </div>
							  </div>
							</div>
							<ul class="nav nav-pills">
								<li th:each="page, status:${pages}">
									<a	th:class="${status.index==currentPage?'btn btn-primary':'btn'}"	th:href="@{${mode}(page=${status.index}, keyword=${keyword}, size=${size})}" th:text="${status.index}"></a>
								</li>
							</ul>
						</div>
						
					</div>

		


</html>