<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
		<title>Page d'accueil livColis</title>
		<link rel="stylesheet" th:href="@{/css/accueil.css}">
	</head>
	<style>
	.container-fluid{
		align-items : center;
	}
	form{
		display : flex;
		width : 100%;
	}
</style>
	<body>
	
		 <a th:href="@{/transporteur/connexion}">Espace transporteur</a>
		<div class="container-fluid">
			<div class="block">
				<h1 th:inline="text" >Suivi des colis et des livraisons</h1>
			</div>
		</div>

	<div class="input-group mb-3 recherche">
	<form th:action="@{/state}" method="get">
		<input type="text" class="form-control" placeholder="Numéro de votre colis" aria-label="Recipient's username" name="noColis" aria-describedby="button-addon2">
  		<div class="input-group-append">
    		<button class="btn btn-outline-secondary button" type="submit" id="button-addon2">Valider</button>
 		</div>
	</form>

</div> 

	</body>
</html>