<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
		<title>Page d'accueil livColis</title>
		<link rel="stylesheet" th:href="@{/css/accueil.css}">
		<link rel="stylesheet" th:href="@{/css/etatColis.css}">
	</head>
	<body>
	

	
		<div class="container">
    <article class="card contain-card">
        <h1> Etat de Livraison de votre Colis</h1>
        <div class="card-body contain-card">
            <h6 th:text="'Colis n° '+ ${colis}">Order ID: OD45345345435</h6>
            <div class="track">
            <!--     <div class="step livre"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Colis envoyé</span> </div> -->
                <div class="step livre"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text-etape1"> Colis récupéré </span> </div>
                <th:block th:each="e :${etape}" > 
                	<div th:if="${e.statutEtape.statutName == 'LIVRE'}" class="step livre "> <span class="icon"> <i class="fa fa-truck"></i> </span> 
	                	<div class="text" > 
	                		<span class="titre"> Livre  </span>	
	                		<div class="colisLab"> 
	                			<p> Point Relais </p>
		                		<span class="text-etape" th:text="${e.pointRelaisDao.voie}"> </span>  
		                		<span class="text-etape"  th:text=" ${e.pointRelaisDao.ville}"> </span>  
		                		<span class="text-etape" th:text="${e.pointRelaisDao.codePostal} "> </span>  
	                		</div>
	                		<div class=" date"> 
                				<p> Date arrivée </p>
	                			<span class="text-etape" th:text="${ #dates.day(e.date)} + ' ' + ${ #dates.monthName(e.date)} + ' ' + ${ #dates.year(e.date)} "></span>  
                			</div> 
	                	</div> 
                	</div>
                	
                	
                	<div th:if="${e.statutEtape.statutName == 'EN TRANSIT'}" class="step transit ">  <span class="icon"> <i class="fa fa-truck"></i> </span> 
                		<div class="text" > 
                			<span class="titre"> En Transit  </span>
                			<div class="colisLab"> 	
                				<p> Point Relais </p>
	                			<span class="text-etape" th:text="${e.pointRelaisDao.voie}"> </span>  
	                			<span class="text-etape" th:text="${e.pointRelaisDao.ville}"> </span>  
	                			<span class="text-etape" th:text="${e.pointRelaisDao.codePostal} "> </span>  
                			</div>
       			            <div class=" date"> 
                				<p> Date prévue </p>
	                			<span class="text-etape" th:text="${ #dates.day(e.date)} + ' ' + ${ #dates.monthName(e.date)} + ' ' + ${ #dates.year(e.date)} "></span>  
                			</div> 
                		</div> 
                	</div>
                	<div th:if="${e.statutEtape.statutName == 'EN ATTENTE'}" class="step attente"> <span class="icon"> <i class="fa fa-truck"></i> </span> 
                		<div class="text" > 
                			<span class="titre"> En attente  </span>	
                			<div class="colisLab"> 
                				<p> Point Relais </p>
	                			<span class="text-etape" th:text="${e.pointRelaisDao.voie} "> </span>  
	                			<span class="text-etape" th:text="${e.pointRelaisDao.ville}"> </span>  
	                			<span class="text-etape" th:text="${e.pointRelaisDao.codePostal} "> </span>  
                			</div> 
                			<div class=" date"> 
                				<p> Date prévue </p>
	                			<span class="text-etape" th:text="${ #dates.day(e.date)} + ' ' + ${ #dates.monthName(e.date)} + ' ' + ${ #dates.year(e.date)} "></span>  
                			</div> 
                		</div> 
                	</div>
                
                </th:block>
                
                <div class="step livre text-etape" th:if="${colisLivraison}"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Délivré</span> </div>
                <div class="step text-etape"  th:if="${not colisLivraison}"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Délivré</span> </div>
            </div>
            <hr>

        </div>
    </article>
</div>

	</body>
</html>