<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
		<link rel="stylesheet" th:href="@{/css/colis.css}">
	</head>
	<body>
		<div class="container">
			<div class="row">
		
				<div class=col-3>
					<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
				</div>
				<div class="container view">
					<div class="col">
						<h1>Colis n° <span th:text="${colis.codeBarre}"> </span> </h1>
						<div class="container  d-flex h-100">
							<div class="col carac-container">
								 <div class="card">
									<div class="card-header" >Caracteristiques Colis</div>
									<div class="card-body">
										<div class="form-group carac">
											<label class="control-label carac-lab"> Poids :  <span th:text="${colis.poids} + 'kilos'"></span></label> 
											<label class="control-label carac-lab"> Prix :  <span th:text="${colis.prix} + 'euros'"></span></label>
											<label class="control-label carac-lab"> Nombre d'étapes de livraison :  <span th:text="${nombreEtape}"></span></label>
											
										</div>
										<div class= "user">
											<label class="control-label"> Emetteur :  <span th:text="${colis.emetteur.nom} + ' ' + ${colis.emetteur.prenom}"></span></label> 
											<label class="control-label"> Adresse :  <span th:text="${colis.emetteur.voie} + ', ' + ${colis.emetteur.ville} + ' ' + ${colis.emetteur.codePostal} "></span></label>
											<label class="control-label"> Telephone :  <span th:text="${colis.emetteur.telephone}"></span></label>
										</div>
										
										<div class= "user">
											<label class="control-label"> Destinataire :  <span th:text="${colis.destinataire.nom} + ' ' + ${colis.destinataire.prenom}"></span></label> 
											<label class="control-label"> Adresse :  <span th:text="${colis.destinataire.voie} + ', ' + ${colis.destinataire.ville} + ' ' + ${colis.destinataire.codePostal} "></span></label>
											<label class="control-label"> Telephone :  <span th:text="${colis.destinataire.telephone}"></span></label>
										</div>
									</div>
									<a th:href="@{/colis/mes-colis/add-etape/pointRelais}" class="btn bouton align button"> Ajouter étape de livraison </a>
								</div> 
							</div>
						</div>
					</div>
					<th:block th:if="${not #lists.isEmpty(etapeTransit)}">  
						<div class="col">
						  <h2> Etapes En Transit   </h2>
						  <th:block th:each="e:${etapeTransit}"> 
						     <!--/*/ <th:block th:include="fragment/etapeViewTemp :: etapeViewTemp"></th:block> /*/-->
						  </th:block>
						</div>
					</th:block>
					<th:block th:if="${not #lists.isEmpty(etapeAttente)}">  
					<div class="col">
					  <h2> Etapes En Attente   </h2>
					  <th:block th:each="e:${etapeAttente}"> 
					     <!--/*/ <th:block th:include="fragment/etapeViewTemp :: etapeViewTemp"></th:block> /*/-->
					  </th:block>
					</div>
					</th:block>
					<th:block th:if="${not #lists.isEmpty(etapeLivre)}">  
					<div class="col">
					  <h2> Etapes Terminées   </h2>
					  <th:block th:each="e:${etapeLivre}"> 
					     <!--/*/ <th:block th:include="fragment/etapeViewTemp :: etapeViewTemp"></th:block> /*/-->
					  </th:block>
					</div>
					</th:block>
				</div>
			</div>
		</div>
	</body>
</html>