<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
			<link rel="stylesheet" th:href="@{/css/colis.css}">
	</head>

<body>

	<div class="container">
		<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col">
				<h1> Creation Colis </h1>
				<h2> Etape 1 : Informations du colis </h2>
				<div class="container  d-flex h-100">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<form method="post" th:action="@{/colis/new}">
									<div class="form-group">
										<label class="control-label"> Poids</label> 
										<input type="number" step="0.01"	th:value="${colis.poids}" name="poids" class="form-control">
										<span th:errors=${colis.poids} class="text-danger"></span>
									</div>
									<div class="form-group">
										<label class="control-label"> Prix</label> <input type="number"
											th:value="${colis.prix}" step="0.1" name="prix" class="form-control">
										<span th:errors=${colis.prix} class="text-danger"></span>
									</div>
									<button class="btn btn-success" type="submit">Save</button>
						
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

		

</body>
</html>