<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
		<style>
		.form-search{
			display: flex;
		}
	
		h1{
			margin-top: 20px;
		}
	
		.error{
			color: red;
		}
		
		.align{
			text-align: center;
		}
		

		
		.button{
			display: flow-root;
		}
		
		.button-creation{
			display: flex;
			justify-content: center;
		}
		</style>
				<link rel="stylesheet" th:href="@{/css/colis.css}">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class=col-3>
					<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
				</div>
			
				<div class="col mr-3">
					<h1> Colis en attente de transporteur </h1>
					
					<div class="container h-100">
					
						<!-- FORMULAIRE DE RECHERCHE -->
						<div class="col">
							<form class="form-search" method="get" th:action="@{/colis/en-attente/recherche}">
						    	<input class="form-control col-9 mr-sm-2" type="search" th:value="${search}" name="search" placeholder="Rechercher par n° de Colis" aria-label="Search">
						    	<button class="btn btn-outline-success my-2 search my-sm-0" type="submit">Search</button>
							</form>
						</div>
				
						<!-- RESULTAT DE LA RECHERCHE  -->
						<div class="row justify-content-center">
							<span th:if="${recherche == 'noValue'}" class="error"> Votre recherche n'a pas donné de résultat </span>
							<div th:if="${recherche == 'value'}"> 
								<div class="row">
									<div class="col-sm-6  mt-3" th:each="c:${colisTransporteur}">
										<div class="card">
										<div class="card-header"> N° <span th:text="${c.codeBarre}"></span>  </div>
											<div class="card-body">
												<h5 class="card-title">Emetteur :</h5>
												<p class="card-text align" th:text="${c.emetteur.nom} + ' ' + ${c.emetteur.prenom}">Emetteur</p>
												<h5 class="card-title">Destinataire :</h5>
												<p class="card-text align" th:text="${c.destinataire.nom} + ' ' + ${c.destinataire.prenom}">Emetteur</p>
												<h6 class="card-title">Poids :</h6>
												<p class="card-text align" th:text="${c.poids} + ' kilos'">Poids</p>
												<h6 class="card-title">Prix :</h6>
												<p class="card-text align" th:text="${c.prix} + ' euros'">Prix</p>
												<a th:href="@{/colis/en-attente/{id}( id = ${c.idColis})}" class="btn bouton align button">Voir</a>
											</div>
							 			</div>
							  		</div>
								</div>
							</div>
						</div>
						
						<!-- FIN RESULTAT RECHERCHE -->
						<!-- FIN RESULTAT RECHERCHE -->
						<div class=button-creation>
							<a class="btn bouton2 btn-outline-success my-2 my-sm-0" th:href="@{/colis/new}" type="submit">Créer un Colis</a>
							<a class="btn bouton2 btn-outline-success my-2 my-sm-0" th:href="@{/colis/en-attente}" type="submit">Colis en attente de transporteur</a>
							<a class="btn bouton2 btn-outline-success my-2 my-sm-0" th:href="@{/colis/livres}" type="submit">Colis livrés</a>
						</div>	
					</div>		
				</div>
			</div>
		</div>
		
	</body>
</html>