<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
		<link rel="stylesheet" th:href="@{/css/colis.css}">
		<style>
		.form-search{
			display: flex;
		}
	
		h1{
			margin-top: 20px;
		}
	
		.error{
			color: red;
		}
		
		.align{
			text-align: center;
		}
		
		.card-body{
			background-color: rgba(77, 170, 148, 0.33);
		}
		
		.button{
			display: flow-root;
		}
		
		.button-creation{
			display: flex;
			justify-content: center;
		}
		</style>
	</head>
	<body>

<div class="container">
			<div class="row">
		
				<div class=col-3>
					<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
				</div>
				<div class="container view">
					<div class="col">
						<h1>Colis n° <span th:text="${colis.codeBarre}"> </span> </h1>
						<div class="container  d-flex h-100">
							<div class="col carac-container">
								 <div class="card">
									<div class="card-header" >Caracteristique Colis</div>
									<div class="card-body">
										<div class="form-group carac">
											<label style="color: white" class="control-label carac-lab"> Poids :  <span th:text="${colis.poids} + 'kilos'"></span></label> 
											<label style="color: white" class="control-label carac-lab"> Prix :  <span th:text="${colis.prix} + 'euros'"></span></label>
											<label style="color: white"class="control-label carac-lab"> Date de livraison  :  <span th:text="${ #dates.formatISO(colis.date)} "></span></label>
											<label style="color: white" class="control-label carac-lab"> Nombre d'étapes de livraison :  <span th:text="${nombreEtape}"></span></label>
											
										</div>
										<div class= "user">
											<label class="control-label"> Emetteur :  <span th:text="${colis.emetteur.nom} + ' ' + ${colis.emetteur.prenom}"></span></label> 
											<label class="control-label"> Adresse :  <span th:text="${colis.emetteur.voie} + ', ' + ${colis.emetteur.ville} + ' ' + ${colis.emetteur.codePostal} "></span></label>
											<label class="control-label"> Telephone :  <span th:text="${colis.emetteur.telephone}"></span></label>
										</div>
										
										<div class= "user">
											<label class="control-label"> Destinataire :  <span th:text="${colis.destinataire.nom} + ' ' + ${colis.destinataire.prenom}"></span></label> 
											<label class="control-label"> Adresse :  <span th:text="${colis.destinataire.voie} + ', ' + ${colis.destinataire.ville} + ' ' + ${colis.destinataire.codePostal} "></span></label>
											<label class="control-label"> Telephone :  <span th:text="${colis.destinataire.telephone}"></span></label>
										</div>
									</div>
									<a onclick="return confirm('Etes-vous sur de vouloir supprimer ce colis? ')" th:href="@{/colis/livres/{id}/delete( id = ${colis.idColis})}" class="btn bouton align button">Supprimer</a>
									<a  th:href="@{/colis/livre/}" class="btn bouton align button">retour</a>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</body>
</html>