<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
			<link rel="stylesheet" th:href="@{/css/colis.css}">
	</head>
<body>
<div class="container-fluid">
		<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col mr-3">
				<h1> Creation Colis </h1>
				<div class="container h-100">
					<div class="card-header" >
						<p> Le colis n°<span th:text="${colis}"> </span>  a bien été enregistré. </p>
					</div>
	
				</div>
				
			</div>
		</div>
	</div>
		
	
</body>
</html>