<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
			<link rel="stylesheet" th:href="@{/css/colis.css}">
			
	</head>

<body>

	<div class="container">
		<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col">
				<h1> Creation Colis </h1>
				<h2> Etape 4 : Ajouter Etape de Livraison </h2>
				<div class="container  d-flex h-100">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<form method="post" th:action="@{${action}}">
									<div class="form-group">
										<label class="control-label"> Numéro Etape</label> 
										<input type="number" th:value="${numEtape}"  name="num" class="form-control">
									<!-- 	<span th:errors=${etape.num} class="text-danger"></span> -->
									</div>
									<div class="form-group">
										<label class="control-label"> Date prévisionnelle</label> 
										<input type="date" name="date" class="form-control">
									</div>
									<div class="form-group">
										<label class="control-label"> Etape finale</label> 
										<input type="checkbox" name="livraisonFinale" th:checked="${etape.livraisonFinale}" class="form-control">
									</div>
									<button class="btn btn-success" type="submit">Save</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

		

</body>
</html>