<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
			<link rel="stylesheet" th:href="@{/css/colis.css}">
			
	</head>

<body>

	<div class="container">
		<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col">
				<h1> Creation Colis </h1>
				<h2> Etape 4 : Statut de votre etape </h2>
				<div class="container  d-flex h-100">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<form method="post"  th:action="@{${action}}">

									<div class="form-group">
										<label class="control-label"> Statut Etape</label> 
										<select name="statut" >
											<th:block th:each="s : ${statutList}">
												<option  th:value="${s.idStatut}" th:text="${s.statutName}"> </option>
											</th:block>
										</select>
									</div>

									<button class="btn btn-success" type="submit">Save</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

		

</body>
</html>