<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
		<link rel="stylesheet" th:href="@{/css/colis.css}">
		<link rel="stylesheet" th:href="@{/css/gestionPointsRelais.css}">
	</head>
<body>

	<div class="container">
		<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col">
				<h1>Gestion Point Relais </h1>
				<h1 th:if="${mode  == 'edit'}"> Modification </h1>
				<h1 th:if="${mode  == 'new'}"> Creation </h1>
				<div class="container  d-flex h-100">
					<div class="col">
							<div class="card-body">
								<form method="post" th:action="@{/pointrelais/new}">
										<!--/*/ <th:block th:include="fragment/pointRelaisFormTemp :: pointRelaisForm"></th:block> /*/-->
								</form>
							</div>
					<a th:href="@{/pointrelais/}"> Retour</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>