<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
		<link rel="stylesheet" th:href="@{/css/gestionPointsRelais.css}">
		
		<style>
		.form-search{
			display: flex;
		}
	
		h1{
			margin-top: 20px;
		}
	
		.error{
			color: red;
		}
		
		.align{
			text-align: center;
		}
		
		.card-body{
			background-color: rgba(77, 170, 148, 0.33);
		}
		
		.button{
			display: flow-root;
		}
		
		.button-creation{
			display: flex;
			justify-content: center;
		}
		</style>
				<link rel="stylesheet" th:href="@{/css/colis.css}">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class=col-3>
					<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
				</div>
			
				<div class="col mr-3">
					<h1> Etape 4 : Point-Relais </h1>
					<h2> Rechercher un Point-Relais</h2>
					<div class="container h-100">
					
						<!-- FORMULAIRE DE RECHERCHE -->
						<div class="col">
							<form class="form-search" method="get" th:action="@{${mode}}">
						    	<input class="form-control col-9 mr-sm-2" type="search" th:value="${search}" name="search" placeholder="Rechercher par ville" aria-label="Search">
						    	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
							</form>
						</div>
				
						<!-- RESULTAT DE LA RECHERCHE  -->
						<div class="row justify-content-center">
							<span th:if="${recherche == 'noValue'}" class="error"> Votre recherche n'a pas donné de résultat </span>
							<div th:if="${recherche == 'value'}"> 
								<div class="row">
									<div class="col-sm-6  mt-3" th:each="pr:${listePointRelais}">
										<div class="card">
											<div class="card-body">
												<h5 class="card-title">Adresse :</h5>
												<p class="card-text align" th:text="${pr.voie} + ', ' + ${pr.ville} + ', ' + ${pr.codePostal}">Adresse</p>
												<h6 class="card-title">Téléphone :</h6>
												<p class="card-text align" th:text="${pr.telephone}">Téléphone</p>
												<h6 class="card-title">Ouverture :</h6>
												<p class="card-text align" th:text="${pr.ouverture}">Ouverture</p>
												<h6 class="card-title">Fermeture :</h6>
												<p class="card-text align" th:text="${pr.fermeture}">Fermeture</p>
												<a th:href="@{${action}(id=${pr.idPointRelais})}" class="btn btn-primary align button">Valider</a>
											</div>
							 			</div>
							  		</div>
								</div>
								<ul class="nav nav-pills">
									<li th:each="page, status:${pages}">
										<a th:class="${status.index==currentPage?'btn btn-primary':'btn'}"	th:href="@{rechercher(page=${status.index}, keyword=${keyword}, size=${size})}" th:text="${status.index}"></a>
									</li>
								</ul>
							</div>
						</div>
						
						<!-- FIN RESULTAT RECHERCHE -->
						<div class=button-creation>
							<a class="btn btn-outline-success my-2 my-sm-0" th:href="@{${nouveau}}" type="submit">Créer un Point-Relais</a>
						</div>	
					</div>		
				</div>
			</div>
		</div>
		
	</body>
</html>