<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
			<link rel="stylesheet" th:href="@{/css/transporteurProfil.css}">
			
	</head>

<body>

	<div class="container">

<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col">
				<h1> Profil </h1>
				<div class="container  d-flex h-100">
					<div class="col">
						<div class="card">
		
							<div class="card-header"> Informations Profil</div>

							<div class="card-body">
								
									
									<div class="form-group">
										<label class="control-label"> Login </label>
										 <input type="text" disabled="disabled"	th:value="${transporteur.login}" name="login" class="form-control">
							
									</div>
									<div class="form-group">
										<label class="control-label"> Password</label> 
										<input type="text" disabled="disabled" th:value="${transporteur.password}" name="text" class="form-control">

									</div>
									<div class="form-group">
										<label class="control-label"> Nom</label> 
										<input type="text" disabled="disabled"	th:value="${transporteur.nom}" name="nom" class="form-control">

									</div>
									<div class="form-group">
										<label class="control-label"> Mail </label> 
										<input type="text" disabled="disabled"	th:value="${transporteur.mail}" name="mail" class="form-control">

									</div>
									<div class="form-group">
										<label class="control-label"> Telephone </label> 
										<input type="text" disabled="disabled"	th:value="${transporteur.telephone}" name="telephone" class="form-control">

									</div>
									<a th:if="${mode == 'profil'}"class="btn btn-success" th:href="@{/transporteur/profil/modification}" >Modifier</a>


							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
	
	</div>

		

</body>
</html>