<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
			<link rel="stylesheet" th:href="@{/css/accueil.css}">
	</head>
<body>
	<div class="container-fluid">
			<div class="row">
			
					<div class="container h-100">
	
						<div class="card-header" >
							<p> Merci pour votre inscription <span th:text="${transporteur.nom}"> </span> ! </p>
							<p> Veuillez cliquer sur le bouton ci-dessous pour vous connecter.</p>
						</div>
						<a class="btn btn-success"  th:href="@{/transporteur/connexion}">Connexion</a>
					</div>
					
				</div>
			</div>
	</body>
</html>