<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
			<link rel="stylesheet" th:href="@{/css/accueil.css}">
			<link rel="stylesheet" th:href="@{/css/connIncr.css}">
			
	</head>

<body>

	<div class="container">

			
			<div class="col">
				<h1> Connexion </h1>
				<div class="container  d-flex h-100">
					<div class="col">

		


							<div class="contain card-body">
							<span th:if="${identifiant == 'incorrect'}" class="text-danger"> Vos identifiants sont incorrects </span>
								<form method="post" th:action="@{/transporteur/connexion}">
									<div class="form-group">
										<label class="control-label"> Login</label> 
										<input type="text"
											th:value="${transporteur.login}" name="login" class="form-control">
										<span th:errors=${transporteur.login} class="text-danger"></span>
									</div>
									<div class="form-group">
										<label class="control-label"> Password</label> <input type="text"
											th:value="${transporteur.password}" name="password" class="form-control">
										<span th:errors=${transporteur.password} class="text-danger"></span>
									</div>
									<button class="valider btn-success" type="submit">Valider</button>
									
								</form>
								<a class="button btn btn-success" th:href="@{inscription}">Inscription</a>
							</div>

					</div>
				</div>
			</div>
	
	</div>

		

</body>
</html>