<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
			<link rel="stylesheet" th:href="@{/css/transporteurProfil.css}">

	</head>

<body>

			<style >
				form{
					display: flex;
					flex-direction: column;
					background: #0000;
				}
			</style>

	<div class="container">
<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col">
				<h1> Profil </h1>
				<div class="container  d-flex h-100">
					<div class="col">
						<div class="card">
		
							<div class="card-header"> Modification Profil</div>

							<div class="card-body">
								 <form  class="form-search" method="post" th:action="@{/transporteur/profil/modification}">
								<span th:if="${login == 'existant'}" class="text-danger"> Ce login n'est pas disponible </span>
								<div class="form-group">
									<label class="control-label"> Login</label> <input type="text" 
										th:value="${transporteur.login}" name="login" class="form-control">
									<span th:errors=${transporteur.login} class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label"> Password</label> <input type="text"
										th:value="${transporteur.password}" name="password" class="form-control">
									<span th:errors=${transporteur.password} class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label"> Nom</label> <input type="text"
										th:value="${transporteur.nom}" name="nom" class="form-control">
									<span th:errors=${transporteur.nom} class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label"> Mail </label> <input type="text"
										th:value="${transporteur.mail}" name="mail" class="form-control">
									<span th:errors=${transporteur.mail} class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label"> Telephone </label> <input type="text"
										th:value="${transporteur.telephone}" name="telephone" class="form-control">
									<span th:errors=${transporteur.telephone} class="text-danger"></span>
								</div>
								<button class="btn btn-success"  th:href="@{/transporteur/profil/modification}" type="submit">Confirmer</button>


								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
	
	</div>

		

</body>
</html>