<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
			<link rel="stylesheet" th:href="@{/css/gestionUtilisateur.css}">
	</head>
<body>
<div class="container-fluid">
		<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col mr-3">
				<h1> Gestion Utilisateur </h1>
				<div class="container h-100">

					<div class="card-header" th:if="${mode == 'new'}">
						<p style="color: white"> <span th:text="${userBean.nom}"> </span> <span th:text="${userBean.prenom}"></span> a bien été ajouté(e) </p>
					</div>
					<div class="card-header" th:if="${mode == 'edit'}">
						<p style="color: white"> <span th:text="${userBean.nom}"> </span> <span th:text="${userBean.prenom}"></span> a bien été modifié(e) </p>
					</div>
	
				</div>
				
			</div>
		</div>
	</div>
		
	
</body>
</html>