<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
					<link rel="stylesheet" th:href="@{/css/gestionUtilisateur.css}">
	</head>

<body>


<style>
	.form-search{
		display: flex;
	}
	
	h1{
		margin-top: 20px;
	}
	.error{
		color: red;
	}
	.align{
		text-align: center;
	}
	.card-body{
		background-color: rgba(77, 170, 148, 0.33);
	}
	.button{
		display: flow-root;
	}
	.button-creation{
		display: flex;
		justify-content: center;
	}

</style>


	<div class="container-fluid">
		<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col mr-3">
				<h1 style="color: #067790"> Gestion Utilisateur </h1>
				<div class="container h-100">
				<!-- FORMULAIRE DE RECHERCHE -->
					<div class="col">
						  <form th:if="${mode}" class="form-search" method="get" th:action="@{recherche}">
						    <input class="form-control col-9 mr-sm-2" type="search" th:value="${search}" name="search" placeholder="Rechercher un utilisateur" aria-label="Search">
						    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						  </form>
					</div>
				<!-- RESULTAT DE LA RECHERCHE  -->

					<div class="row justify-content-center">

						<span th:if="${recherche == 'noValue'}" class="error"> Votre recherche n'a pas donné de résultat  </span>
						<div th:if="${recherche == 'value'}"> 
							<div class="row">
							
							  <div class="col-sm-6  mt-3" th:each="u:${listeUsers}">
							    <div class="card">
							      <div class="card-body">
							        <h5 class="card-title align" th:text="${u.nom} + ' ' + ${u.prenom}">Nom Prenom</h5>
							        <h6 class="card-title">Adresse :</h6>
							        <p class="card-text align" th:text="${u.voie} + ', ' + ${u.ville} + ', ' + ${u.codePostal}">Adresse</p>
							        <h6 class="card-title">Mail :</h6>
							        <p class="card-text align" th:text="${u.mail}">mail</p>
							        <h6 class="card-title">Telephone :</h6>
							        <p class="card-text align" th:text="${u.telephone}">telephone</p>
							        <a th:href="@{update(id=${u.idUser})}" class="btn btn-primary align button">Modifier</a>
							      </div>
							    </div>
							  </div>
							</div>
							<ul class="nav nav-pills">
								<li th:each="page, status:${pages}">
									<a	th:class="${status.index==currentPage?'btn btn-primary':'btn'}"	th:href="@{rechercher(page=${status.index}, keyword=${keyword}, size=${size})}" th:text="${status.index}"></a>
								</li>
							</ul>
						</div>
						
					</div>
				<!-- FIN RESULTAT RECHERCHE -->
				<div class=button-creation>
				<a class="btn btn-outline-success my-2 my-sm-0" th:href="@{new}" type="submit">Créer Utilisateur</a>
				</div>
						
				</div>
				
			</div>
		</div>
	</div>

		

</body>
</html>