<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
						<link rel="stylesheet" th:href="@{/css/gestionUtilisateur.css}">
			
	</head>

<body>

	<div class="container">
		<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col">
				<h1> Gestion Utilisateur </h1>
				<div class="container  d-flex h-100">
					<div class="col">
						<div class="card">
		
							<div class="card-header" th:if="${mode == 'new'}">Nouvel Utilisateur</div>
							<div class="card-header" th:if="${mode == 'edit'}">Modification Utilisateur</div>
							<div class="card-body">
								<form method="post" th:action="@{new}">
										<!--/*/ <th:block th:include="fragment/userFormTemp :: userForm"></th:block> /*/-->
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

		

</body>
</html>