<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
			<link rel="stylesheet" th:href="@{/css/colis.css}">
	</head>

<body>


<style>
	.form-search{
		display: flex;
	}
	
	h1{
		margin-top: 20px;
	}
	.error{
		color: red;
	}
	.align{
		text-align: center;
	}
	.card-body{
		background-color: rgba(77, 170, 148, 0.33);
	}
	.button{
		display: flow-root;
	}
	.button-creation{
		display: flex;
		justify-content: center;
	}

</style>


	<div class="container-fluid">
		<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col mr-3">
				<h1 > Etape 2 : Emetteur </h1>
				<h2 > Rechercher un Emetteur </h2>
				
				<div class="container h-100">
				<!-- FORMULAIRE DE RECHERCHE -->
					<div class="col">
						 <form  class="form-search" method="get" th:action="@{/colis/new/emetteur/recherche}">
						    <input class="form-control col-9 mr-sm-2" type="search" th:value="${search}" name="search" placeholder="Rechercher par nom" aria-label="Search">
						    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						  </form>
					</div>
				<!-- RESULTAT DE LA RECHERCHE  -->

						 <!--/*/ <th:block th:include="fragment/userSearchTemp :: userSearch"></th:block> /*/-->
				<!-- FIN RESULTAT RECHERCHE -->
				<div class=button-creation>
				<a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/colis/new/emetteur/new}" type="submit">Créer Emetteur</a>
				
				</div>
						
				</div>
				
			</div>
		</div>
	</div>

		

</body>
</html>