<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
				<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
				<link rel="stylesheet" th:href="@{/css/colis.css}">
			
	</head>

<body>

	<div class="container">
		<div class="row">
		
			<div class=col-3>
				<!--/*/ <th:block th:include="fragment/sideBar :: header"></th:block> /*/-->
			</div>
			
			<div class="col">
				<h1> Creation Colis </h1>
				<h2> Etape 3 : Créer un Destinataire </h2>
				<div class="container  d-flex h-100">
					<div class="col">
	
							<div class="card-body">
								<form method="post" th:action="@{/colis/new/destinataire/new}">
										<!--/*/ <th:block th:include="fragment/userFormTemp :: userForm"></th:block> /*/-->
								</form>
							</div>
							<a th:href="@{/colis/new/destinataire}" > Retour</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>

		

</body>
</html>