

html{
	height: 100%;
}

body{

	 background-image: url("../images/accueil.jpg");
	 background-size: cover;
	 background-repeat: repeat;
	 background-position: center;
	 line-height: 2.5;
} 

a{
	color: aliceblue;
	font-size: 25px;
	margin-left: 40px;
	margin-top: 25px;
	text-decoration:none; 
}



.container-fluid{
		display: flex;
		justify-content: center;
		height: 800px;
		width: 100%;
		height: 100%;
		height: 500px;
		color: aliceblue;
	
}


a:hover{
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
	text-decoration:none; 
	color: black;

}

	.recherche{
		width: 70%;
		display : flex;
		margin-left : auto;
		margin-right : auto;
		
	}
	
	.button{
		width: 100%;
   		margin: 0;
   		background-color: aliceblue;
	}

