html{
	height: 100%;
}

body{

	 background-image: url("../images/colis.jpg");
	 background-size: cover;
	 background-repeat: repeat;
	 background-position: center;
	 line-height: 2.5;
} 


.form-search{
	display: flex;
	margin-bottom: 50px;
}
	
h1{
	margin-top: 50px;
	color: white;
}

.search{
	background-color: #067790;
	color: white;
	border: none;
}

.search:hover{
	background-color: black;
}

.card{
	background-color: #0000;
}

.card-header{
	background-color: rgba(247, 247, 247, 0.5);
	text-align: center;
	font-weight: bold;
	color : white;
}

.card-body{
	background-color:rgba( 153, 163, 164 , 0.7);
}
.row{
	margin-bottom : 40px;
}

h5,h6{
	color: black;
	font-weight: bold;
}
p{
	color : white;
}

.bouton{
	border : none;
	color : #067790;
	background-color: #aab7b8;
}

.bouton:hover{
	background-color: #067790;
	color : white;
	border : none;
}
.bouton2{
	border : none;
	color : #067790;
	background-color: #aab7b8;
}

.bouton2:hover{
	background-color: #067790;
	color : white;
	border : none;
}

.button-creation{
	justify-content: space-around;
}

/*VUE COLIS*/
.carac-container{
	margin-bottom: 50px;
}
.carac{
	display: flex;
	justify-content: center;
	
}
.carac-lab{
	margin-left: 20px;
margin-right: 20px;
}

.user{
	background-color: rgba( 247, 249, 249,0.5); 
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	padding-left: 20px;
}


.view{
	margin-left: 270px;
}

h2{
	text-align: center;
	color: white;
}
