.card-body{
	display: flex;
	flex-direction: column;
}

form{
	background-color: #0000;
	width: 75%;
	display: flex;
flex-direction: column;
}

.form-group{
	display: flex;
	align-items: center;
}

label{
	color: white;
	font-size: 30px;
	margin-right: 25px;
	width: 45%;
}

.form-control{
	height: 40px;
	margin-top: 20px;
}

h1{
	margin-top: 50px;
	color: white;
}

span{
	text-align: center;
}

.btn-success{
	background-color: black;
	border: black;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.valider{
	width:100%;
}

.btn-success:hover{
	background-color: #8c8c8c;
	color: black;
	
}