 @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html{
	height: 100%;
}


body{

	 background-image: url("../images/accueil.jpg");
	 background-size: cover;
	 background-repeat: repeat;
	 background-position: center;
	 line-height: 2.5;
} 

h1{
	color : white;
}

h6{
	color: white;
	
}
 .container {
     margin-top: 50px;
     margin-bottom: 50px
 }

 .card {
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;

     background-clip: border-box;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: 0.10rem
 }

.contain-card{
	     background-color: #0000;
}

.row, .info{
	background-color:  #ffffff45;
}

 .card-header:first-child {
     border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
 }

 .card-header {
     padding: 0.75rem 1.25rem;
     margin-bottom: 0;
     background-color: #fff;
     border-bottom: 1px solid rgba(0, 0, 0, 0.1)
 }

 .track {
     position: relative;
     background-color:  #ffffff45;
     height: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin-bottom: 60px;
     margin-top: 50px;
 }

 .track .step {
     -webkit-box-flex: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
     width: 25%;
     margin-top: -18px;
     text-align: center;
     position: relative;
	margin-bottom: 15px;
         
 }

/* CHOIX COULEUR ET STYLE POUR LIVRE OU NON*/
 .track .step.livre:before {
     background: rgb(167, 208, 92);
 }
  .track .step.transit:before {
     background: rgba( 255, 195, 0 );
 }
 
 .titre{
 	margin-bottom: 15px;
 }
 
 .step.livre .titre{
  	background: rgb(167, 208, 92);
 }
 .step.transit .titre{
  	background: rgba( 255, 195, 0 );
 }
 .step.attente .titre{
  	background: #ddd;
 }
 



 .track .step::before {
     height: 7px;
     position: absolute;
     content: "";
     width: 100%;
     left: 0;
     top: 18px;
      background:#ddd;
 }

 .track .step.livre .icon {
     background: rgb(167, 208, 92);;
     color: #fff;
 }
 .track .step.transit .icon {
      background: rgba( 255, 195, 0 );
     color: #fff;
 }


 .track .icon {
     display: inline-block;
     width: 40px;
     height: 40px;
     line-height: 40px;
     position: relative;
     border-radius: 100%;
     background: #ddd;;
 }

 .track .step.livre .text {
     font-weight: 400;
     color: #000;
 }
 .track .step.transit .text {
     font-weight: 400;
     color: #000;
 }
 

 /*---------------FIN---------------*/

/*COULEUR ET STYLE DU TEXT*/
.colisLab{
	height: 180px;
	display: flex;
	flex-direction: column;
}
.date{
	height: 100px;
}

.colisLab p, .date p{
	margin: 0;
	background-color: azure;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

 .track .text {
     display: flex;
	 flex-direction: column;
     margin-top: 7px;


 }
 
  .text-etape{
	color: white;
}
  .text-etape1{
  display: flex;
	flex-direction: column;
	margin-top: 7px;
	color: white;
}

 .itemside {
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
 }

 .itemside .aside {
     position: relative;
     -ms-flex-negative: 0;
     flex-shrink: 0
 }

 .img-sm {
     width: 80px;
     height: 80px;
     padding: 7px
 }

 ul.row,
 ul.row-sm {
     list-style: none;
     padding: 0
 }

 .itemside .info {
     padding-left: 15px;
     padding-right: 7px
 }

 .itemside .title {
     display: block;
     margin-bottom: 5px;
     color: #212529
 }

 p {
     margin-top: 0;
     margin-bottom: 1rem
 }

 .btn-warning {
     color: #ffffff;
     background-color: #ee5435;
     border-color: #ee5435;
     border-radius: 1px
 }

 .btn-warning:hover {
     color: #ffffff;
     background-color: #ff2b00;
     border-color: #ff2b00;
     border-radius: 1px
 }