html{
	height: 100%;
}

body{

	 background-image: url("../images/gestionPointRelais.jpg");
	 background-size: cover;
	 background-repeat: repeat;
	 background-position: center;
	 line-height: 2.5;
}