<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
			<!--/*/ <th:block th:include="fragment/head :: head"></th:block> /*/-->
			
	</head>

<body>

	<div class="container">

			
			<div class="col">
				<h1> Nouveau Compte </h1>
				<div class="container  d-flex h-100">
					<div class="col">
						<div class="card">
		
							<div class="card-header"> Inscription</div>

							<div class="card-body">
								<form method="post" th:action="@{inscription}">
										<!--/*/ <th:block th:include="fragment/transFormTemp :: transForm"></th:block> /*/-->
								</form>
								<a class="btn btn-success" th:href="@{connexion}"> Connexion</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	
	</div>

		

</body>
</html>